.footer {
  border-top: 1px solid white;
  height: 5rem;
  margin-top: 3rem;
  background-color: #1d1d1d;
}

.copyrights-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

  p {
    color: white;
  }
}
