$red: #eb4949;

.edit-movie-root-container {
  width: 80%;
  margin: 0 auto;
  padding: 3rem 0;
}

.edit-movie-container {
}

.edit-movie-container-heading {
  padding: 1rem 0;

  h3 {
    text-align: center;
    margin: 0;
    font-weight: 700;
  }
}

.edit-movie-form-container {
  width: 90%;
  margin: 0 auto;
}

.edit-movie-form {
  display: flex;
  flex-direction: column;
}

.form-fields {
  display: flex;
}

.form-submit-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 2rem 0;
}

.error-text-container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-text {
  color: $red;
  margin: 0;
}

.submit-button {
  color: black;
  height: 2.5rem;
  width: clamp(5rem, 50%, 15rem);
  border: 1px solid black;
  transition: all 0.2s linear;
  font-weight: 600;

  &:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
  }

  &:disabled {
    background-color: #737070;
    border: none;
    color: black;
  }
}

.spinner {
  transition: all 0.3s linear;
  height: 2.2rem;
  width: 2.2rem;
}

.info-para {
  padding: 1rem 0;

  h5 {
    text-align: center;
  }
}

.delete-button {
  background-color: #d40000;
  color: white;
  height: 2.5rem;
  width: clamp(5rem, 50%, 15rem);
  border: 1px solid black;
  transition: all 0.2s linear;
  font-weight: 600;

  &:hover {
    background-color: #f72323;
  }

  &:disabled {
    background-color: $red;
  }
}

@media screen and (max-width: 1000px) {
  .edit-movie-root-container {
    width: 90%;
  }
}

@media screen and (max-width: 700px) {
  .form-fields {
    flex-direction: column-reverse;
  }
  .info-para {
    h5 {
      width: 90%;
      margin: 0 auto;
    }
  }

  .submit-button,
  .delete-button {
    width: clamp(5rem, 45%, 15rem);
  }
}

@media screen and (max-width: 450px) {
  .submit-button,
  .delete-button {
    width: clamp(5rem, 40%, 15rem);
  }
}

@media screen and (max-width: 400px) {
  .edit-movie-root-container {
    width: 90%;
  }

  .submit-button,
  .delete-button {
    width: clamp(5rem, 48%, 15rem);
  }
}

@media screen and (max-width: 350px) {
  .submit-button,
  .delete-button {
    width: clamp(5rem, 48%, 15rem);
    font-size: 0.8rem;
  }
}
